<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <title>genshin-card-dev</title>
  <script src="../../data/js/vue.min.js"></script>
  <script src="./component/card/card-dev.js"></script>
  <link rel="stylesheet" href="./component/card/card-dev.css" />
</head>

<body>
<div class="card-background">
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <div id="app">
    
  </div>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      retcode: 1,
      nickname: "",
      uid: 0,
      level: 0,
      profile: 0,
      stats: {},
      avatarsData: [],
      explorations: [],
      avatar_number: 0,
      homes: [],
      homeslevel: 0,
      maxcomfort: 0,
    },
    components: {
      upper,
      middle,
      bottom,
    },
    methods: {
      cutArray(array, step) {
        let newArray = [];
        let index = 0,
          len = array.length;
        while (index < len) {
          newArray.push(array.slice(index, (index += step)));
        }
        return newArray;
      },
      readJSON(file, callback) {
        fetch(file).then((res) => {
          return res.json().then((data) => {
            callback(data);
          });
        });
      },
    },
    mounted() {
      this.readJSON("../../data/record/genshin-card.json", (res) => {
        this.nickname = res.nickname;
        this.uid = res.uid;
        this.level = res.level;

        let avatarsList = res.avatars;
        this.stats = res.stats;
        this.explorations = res.explorations;
        this.homes = res.homes;
        this.avatar_number = avatarsList.length;
        this.profile =
          avatarsList[Math.floor(Math.random() * this.avatar_number)].id;

        avatarsList.sort((x, y) => {
          if (x.level === y.level) {
            return y.fetter - x.fetter;
          } else {
            return y.level - x.level;
          }
        });
        this.avatarsData = this.cutArray(avatarsList, 7);

        this.homeslevel = res.homes[0].level !== 0 ? res.homes[0].level : 0;
        this.maxcomfort =
          res.homes[0].comfort_num !== 0 ? res.homes[0].comfort_num : 0;
      });
    },
  });
</script>
<!-- particle.js scripts -->
<script src="./component/card/particles.min.js"></script>
<script src="./component/card/particles-setting.js"></script>
</body>

</html>