body {
  height: auto !important;
}

.banner-image,
.banner-image-container {
  position: relative !important;
  height: auto !important;
}

.main {
  margin: 0;
  max-width: 980px;
  height: fit-content;
  font-size: 1rem;
  font-family: "Source Han Sans SC", "Microsoft Yahei", sans-serif;
}

.banner-image {
  top: 4px;
}

a.cover-jumper {
  margin-top: -4px;
}
